force-app/main/default/flows/AutoOutputTest1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>553</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>myBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myToggle.value</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>AutoOutputTest1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutoOutputTest1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>322</locationX>
        <locationY>320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <fields>
            <name>myToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>screen1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>myBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
