force-app/main/default/flows/FlowTestGenerator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>action_getFlowVariables</name>
        <label>action_getFlowVariables</label>
        <locationX>586</locationX>
        <locationY>65</locationY>
        <actionName>GetFlowVariables</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screen_setInputVariables</targetReference>
        </connector>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>screen_selectTargetFlowCmp.selectedFlowApiName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>flowVariables</assignToReference>
            <name>flowVariables</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>FlowTestGenerator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTestGenerator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screen_selectTargetFlow</name>
        <label>screen_selectTargetFlow</label>
        <locationX>459</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>action_getFlowVariables</targetReference>
        </connector>
        <fields>
            <name>screen_selectTargetFlowCmp</name>
            <extensionName>c:flowPickerFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showWhichFlowTypes</name>
                <value>
                    <stringValue>AutolaunchedFlow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showActiveFlowsOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedFlowApiName</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_setInputVariables</name>
        <label>screen_setInputVariables</label>
        <locationX>736</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>flowTestGenerator</name>
            <extensionName>c:flowTestGeneratorClass</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowApiName</name>
                <value>
                    <elementReference>screen_selectTargetFlowCmp.selectedFlowApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowVariables</name>
                <value>
                    <elementReference>flowVariables</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>screen_selectTargetFlow</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>flowVariables</name>
        <apexClass>FlowVariable</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
