force-app/main/default/flows/Flow_Test_Generator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>action_getFlowVariables</name>
        <label>action_getFlowVariables</label>
        <locationX>317</locationX>
        <locationY>225</locationY>
        <actionName>GetFlowVariables</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_What_Do_You_Want_To_Do</targetReference>
        </connector>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>screen_selectTargetFlowCmp.selectedFlowApiName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Count_Existing_Assertions</name>
        <label>Count Existing Assertions</label>
        <locationX>1558</locationX>
        <locationY>614</locationY>
        <actionName>CountRecordsAndFields</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Existing_Values_Empty</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Flow_Test_Method_Assertion__c</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_Flow_Test_Assertions</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Count_Number_Of_Input_Variables</name>
        <label>Count Number Of Input Variables</label>
        <locationX>1453</locationX>
        <locationY>614</locationY>
        <actionName>CountRecordsAndFields</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Count_Existing_Assertions</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Flow_Test_Method_Input_Variable__c</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_Input_Values</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Flow_Test_Class</name>
        <label>Generate Flow Test Class</label>
        <locationX>1747</locationX>
        <locationY>512</locationY>
        <actionName>FlowTestGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Test_Class_Error</targetReference>
        </connector>
        <inputParameters>
            <name>flowTestId</name>
            <value>
                <elementReference>curFlowTest.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_First_Selected_Flow_Test</name>
        <label>Get First Selected Flow Test</label>
        <locationX>873</locationX>
        <locationY>76</locationY>
        <actionName>GetFirst</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Delete</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Flow_Test__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputMember</typeName>
            <typeValue>Flow_Test__c</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Pick_One_Test_LWC.outputSelectedRows</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>curFlowTest</assignToReference>
            <name>outputMember</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Cur_Test_Attributes</name>
        <label>Assign Cur Test Attributes</label>
        <locationX>756</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>curFlowTest.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_testName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curFlowTest.Flow_Api_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_selectTargetFlowCmp.selectedFlowApiName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Create_Test_Flow</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_addFlowTest</name>
        <choiceText>Add New FlowTest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice_addFlowTest</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_deleteFlowTest</name>
        <choiceText>Delete Selected FlowTest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice_deleteFlowTest</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_eidtFlowTest</name>
        <choiceText>Edit Selected FlowTest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice_eidtFlowTest</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Create_Test_Flow</name>
        <label>Is Create Test Flow</label>
        <locationX>861</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>Update_Cur_Flow_Test</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Create_Test_Flow_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Do_You_Want_To_Do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_addFlowTest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Flow_Test</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Delete</name>
        <label>Is Delete</label>
        <locationX>865</locationX>
        <locationY>211</locationY>
        <defaultConnector>
            <targetReference>Change_Flow_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Delete_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Do_You_Want_To_Do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_deleteFlowTest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Current_Test</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Existing_Assertions_Empty</name>
        <label>Is Existing Assertions Empty</label>
        <locationX>1668</locationX>
        <locationY>741</locationY>
        <defaultConnector>
            <targetReference>Delete_Existing_Assertions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Existing_Assertions_Empty_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Existing_Assertions.totalNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Flow_Test</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Existing_Values_Empty</name>
        <label>Is Existing Values Empty</label>
        <locationX>1552</locationX>
        <locationY>741</locationY>
        <defaultConnector>
            <targetReference>Delete_Existing_Value_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Existing_Values_Empty_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Number_Of_Input_Variables.totalNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Existing_Assertions_Empty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Test_Class_Error</name>
        <label>Is Test Class Error</label>
        <locationX>1851</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>screen_FlowTestClassText</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Test_Class_Error_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_Flow_Test_Class.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_Display_Test_Class_Generation_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Do_You_Want_To_Do_Decision</name>
        <label>What Do You Want To Do Decision</label>
        <locationX>431</locationX>
        <locationY>74</locationY>
        <defaultConnector>
            <targetReference>get_Flow_Tests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit</defaultConnectorLabel>
        <rules>
            <name>What_Do_You_Want_To_Do_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Do_You_Want_To_Do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_addFlowTest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Flow_Name</targetReference>
            </connector>
            <label>Add</label>
        </rules>
        <rules>
            <name>What_Do_You_Want_To_Do_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Do_You_Want_To_Do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_deleteFlowTest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Flow_Tests</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <interviewLabel>Flow Test Generator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Test Generator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Flow_Test</name>
        <label>Create Flow Test</label>
        <locationX>981</locationX>
        <locationY>331</locationY>
        <connector>
            <targetReference>Get_Input_Values</targetReference>
        </connector>
        <inputReference>curFlowTest</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_New_Assertions</name>
        <label>Insert New Assertions</label>
        <locationX>1345</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>Count_Number_Of_Input_Variables</targetReference>
        </connector>
        <inputReference>lwc_flowTestSetAssertions.testAssertions</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_New_Option_Values</name>
        <label>Insert New Option Values</label>
        <locationX>1346</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>Insert_New_Assertions</targetReference>
        </connector>
        <inputReference>lwc_setInputVariables.inputOptionsValues</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Current_Test</name>
        <label>Delete Current Test</label>
        <locationX>645</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>Screen_What_Do_You_Want_To_Do</targetReference>
        </connector>
        <inputReference>curFlowTest</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Existing_Assertions</name>
        <label>Delete Existing Assertions</label>
        <locationX>1682</locationX>
        <locationY>922</locationY>
        <connector>
            <targetReference>Generate_Flow_Test</targetReference>
        </connector>
        <inputReference>Get_Flow_Test_Assertions</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Existing_Value_Records</name>
        <label>Delete Existing Value Records</label>
        <locationX>1561</locationX>
        <locationY>921</locationY>
        <connector>
            <targetReference>Delete_Existing_Assertions</targetReference>
        </connector>
        <inputReference>Get_Input_Values</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Flow_Test_Assertions</name>
        <label>Get Flow Test Assertions</label>
        <locationX>1106</locationX>
        <locationY>564</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_lwc_flowTestSetAssertions</targetReference>
        </connector>
        <filters>
            <field>Flow_Test__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curFlowTest.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Flow_Test_Method_Assertion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Flow_Tests</name>
        <label>Get Flow Tests</label>
        <locationX>597</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pick_One_Test</targetReference>
        </connector>
        <filters>
            <field>Flow_Api_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>screen_selectTargetFlowCmp.selectedFlowApiName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Flow_Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Input_Values</name>
        <label>Get Input Values</label>
        <locationX>974</locationX>
        <locationY>572</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manage_Flow_Inputs</targetReference>
        </connector>
        <filters>
            <field>Flow_Test__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curFlowTest.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Flow_Test_Method_Input_Variable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cur_Flow_Test</name>
        <label>Update Cur Flow Test</label>
        <locationX>868</locationX>
        <locationY>567</locationY>
        <connector>
            <targetReference>Get_Input_Values</targetReference>
        </connector>
        <inputReference>curFlowTest</inputReference>
    </recordUpdates>
    <screens>
        <name>Change_Flow_Name</name>
        <label>Change Flow Name</label>
        <locationX>544</locationX>
        <locationY>336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Cur_Test_Attributes</targetReference>
        </connector>
        <fields>
            <name>input_testName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>curFlowTest.Name</elementReference>
            </defaultValue>
            <fieldText>Change Test Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Generate_Flow_Test</name>
        <label>Generate Flow Test</label>
        <locationX>1610</locationX>
        <locationY>454</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Generate_Flow_Test_Class</targetReference>
        </connector>
        <fields>
            <name>screen_confirmGenerateTest</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Slack-Lato, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Click Next to generate and deploy this test class&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manage_Flow_Inputs</name>
        <label>Manage Flow Inputs</label>
        <locationX>1090</locationX>
        <locationY>331</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Flow_Test_Assertions</targetReference>
        </connector>
        <fields>
            <name>screen_Manage_Flow_Inputs_ManageInputVariables_Label</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Set input variables:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lwc_setInputVariables</name>
            <extensionName>c:flowTestSetInputVariables</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowVariables</name>
                <value>
                    <elementReference>action_getFlowVariables.flowVariables</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputOptionsValues</name>
                <value>
                    <elementReference>Get_Input_Values</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowTestId</name>
                <value>
                    <elementReference>curFlowTest.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pick_One_Test</name>
        <label>Pick One Test</label>
        <locationX>763</locationX>
        <locationY>75</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_First_Selected_Flow_Test</targetReference>
        </connector>
        <fields>
            <name>Pick_One_Test_LWC</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Flow_Test__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_Flow_Tests</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Id</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Display_Test_Class_Generation_Error</name>
        <label>Display Test Class Generation Error</label>
        <locationX>1857</locationX>
        <locationY>675</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>screen_Display_Test_Class_Generation_Error_DT</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Test Class generation error: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Generate_Flow_Test_Class.errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_FlowTestClassText</name>
        <label>Displate Generated Test Class</label>
        <locationX>1857</locationX>
        <locationY>353</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>screen_FlowTestClassText_dt</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Test class text:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Generate_Flow_Test_Class.testClassText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_lwc_flowTestSetAssertions</name>
        <label>screen_lwc_flowTestSetAssertions</label>
        <locationX>1222</locationX>
        <locationY>342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_New_Option_Values</targetReference>
        </connector>
        <fields>
            <name>screen_lwc_flowTestSetAssertions_setOutputVariables_Label</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Set Test Assertions:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lwc_flowTestSetAssertions</name>
            <extensionName>c:flowTestSetAssertions</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowTestId</name>
                <value>
                    <elementReference>curFlowTest.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowVariables</name>
                <value>
                    <elementReference>action_getFlowVariables.flowVariables</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>testAssertions</name>
                <value>
                    <elementReference>Get_Flow_Test_Assertions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_What_Do_You_Want_To_Do</name>
        <label>Screen What Do You Want To Do</label>
        <locationX>439</locationX>
        <locationY>223</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_Do_You_Want_To_Do_Decision</targetReference>
        </connector>
        <fields>
            <name>What_Do_You_Want_To_Do</name>
            <choiceReferences>choice_addFlowTest</choiceReferences>
            <choiceReferences>choice_eidtFlowTest</choiceReferences>
            <choiceReferences>choice_deleteFlowTest</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_addFlowTest</defaultSelectedChoiceReference>
            <fieldText>What Do You Want To Do</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Target_Flow</name>
        <label>Select Target Flow</label>
        <locationX>176</locationX>
        <locationY>226</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>action_getFlowVariables</targetReference>
        </connector>
        <fields>
            <name>screen_selectTargetFlowCmp</name>
            <extensionName>c:flowPickerFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showWhichFlowTypes</name>
                <value>
                    <stringValue>AutolaunchedFlow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showActiveFlowsOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedFlowApiName</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Flow</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Select_Target_Flow</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>allInputVariables</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_Test_Method_Input_Variable__c</objectType>
    </variables>
    <variables>
        <name>allTestAssertions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_Test_Method_Assertion__c</objectType>
    </variables>
    <variables>
        <name>chooseTest_outputTests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_Test__c</objectType>
    </variables>
    <variables>
        <name>curFlowTest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_Test__c</objectType>
    </variables>
</Flow>
