force-app/main/default/flows/GenerateTest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Variables</name>
        <label>Get Variables</label>
        <locationX>248</locationX>
        <locationY>188</locationY>
        <actionName>GetFlowVariables</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Collect_Variable_Values</targetReference>
        </connector>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>TestBuilder_TestFlow1</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>initialFlowVariableSet</assignToReference>
            <name>flowVariables</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Collected_Value</name>
        <label>Assign Collected Value</label>
        <locationX>615</locationX>
        <locationY>259</locationY>
        <assignmentItems>
            <assignToReference>flowVariableIterator.TestValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stringInputVarValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Push_into_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Push_into_Collection</name>
        <label>Push into Collection</label>
        <locationX>616</locationX>
        <locationY>137</locationY>
        <assignmentItems>
            <assignToReference>modifiedVariableSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>flowVariableIterator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Variable_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Variable_Type</name>
        <label>Determine Variable Type</label>
        <locationX>415</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Collect_String_Input_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>String</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowVariableIterator.DataType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>String</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_String_Input_Value</targetReference>
            </connector>
            <label>String</label>
        </rules>
    </decisions>
    <interviewLabel>GenerateTest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GenerateTest</label>
    <loops>
        <name>Collect_Variable_Values</name>
        <label>Collect Variable Values</label>
        <locationX>424</locationX>
        <locationY>188</locationY>
        <assignNextValueToReference>flowVariableIterator</assignNextValueToReference>
        <collectionReference>initialFlowVariableSet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determine_Variable_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Collect_String_Input_Value</name>
        <label>Collect String Input Value</label>
        <locationX>614</locationX>
        <locationY>404</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Collected_Value</targetReference>
        </connector>
        <fields>
            <name>stringInputVarValue</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>flowVariableIterator.TestValue</elementReference>
            </defaultValue>
            <fieldText>Select test value for this input variable</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>421</locationX>
        <locationY>29</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Expression</targetReference>
        </connector>
        <fields>
            <name>disp1</name>
            <fieldText>&lt;p&gt;Flow Variable Set:&lt;/p&gt;&lt;p&gt;{!modifiedVariableSet}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Expression</name>
        <label>Set Expression</label>
        <locationX>567</locationX>
        <locationY>29</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>expressionBuilder1</name>
            <extensionName>c:expressionBuilder</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addButtonLabel</name>
                <value>
                    <stringValue>Add Row</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contextObjectType</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Expression</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>flowVariableIterator</name>
        <apexClass>FlowVariable</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>initialFlowVariableSet</name>
        <apexClass>FlowVariable</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>modifiedVariableSet</name>
        <apexClass>FlowVariable</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
